.flat-anim {
    width: 164px;
    height: 155px;
    background-color: #ecf0f1;
    border-radius: 42px;
	/*position: absolute;*/
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -132px 0 0 -132px;*/
    margin: 0 auto;
}

.flat-anim:before {
    content: "";
    background-color: #b3aba5;
    width: 13px;
    height: 13px;
    border-radius: 26px;
    position: absolute;
    top: 19px;
    left: 19px;
}

.flat-anim:after {
    content: "";
    background-color: #68b5f1;
    width: 24px;
    height: 12px;
    border-radius: 10px;
    position: absolute;
    top: 17px;
    right: 22px;
}

.bottom {
    width: 166px;
    height: 65px;
    display: block;
    z-index: 10;
    background-color: #7b7a78;
    border-radius: 0 0 38px 38px;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-top: 8px solid #484645;
    -webkit-box-shadow: inset 0 -10px 0 0 #676665;
}

.bottom:before {
    content: "";
    background-color: #282e3a;
    width: 140px;
    height: 10px;
    display: block;
    margin: 14px auto 0 auto;
    animation: bottomAnimation 2s infinite linear;
}

.bottom:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 44px;
    width: 80px;
    height: 40px;
    display: block;
    background-color: #ecf0f1;
    -webkit-box-shadow: 0 7px 0 0 #4a4846, 0 -16px 0 0 #c3d1dd;
    -moz-box-shadow: 0 7px 0 0 #4a4846, 0 -16px 0 0 #c3d1dd;
    box-shadow: 0 7px 0 0 #4a4846, 0 -16px 0 0 #c3d1dd;
    animation: bottomAfterAnimation 2s infinite linear;
}

.eye {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: #121213;
    display: block;
    margin: 30px auto 0;
    z-index: 20;
    position: relative;
    -webkit-box-shadow: 0 0 0 15px #3e5489, 0 0 0 21px #121213, 0 0 0 27px #ecf0f1, 0 5px 0 27px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 40px;
}

.eye:before {
    content: "";
    background-color: #a3bfd5;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    position: absolute;
    top: -8px;
    left: -8px;
}

.eye:after {
    content: "";
    background-color: #6078a3;
    width: 8px;
    height: 8px;
    border-radius: 16px;
    position: absolute;
    top: 15px;
    left: 15px;
}


/* Animation */

/*TODO flatAnimation*/

@-webkit-keyframes flatAnimation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    15% {
        transform: rotate(45deg) scale(0.1);
    }
    30% {
        transform: rotate(-20deg) scale(1.1);

    }
    60% {
        transform: rotate(0deg) scale(1);

    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.eye,
.flat-anim:before,
.flat-anim:after {

    /*Animation eye properties*/
    animation: eyeAnimation 2s infinite linear;
}

/*TODO before .flat-anim use delay property*/

/*TODO after .flat-anim use delay property*/

@-webkit-keyframes eyeAnimation {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(0);

    }
    30% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.5);

    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);

    }
}
/*TODO before .bottom*/

@-webkit-keyframes bottomAnimation {
    0% {
        width: 100px;
    }
    15% {
        width: 0;
    }
    30% {
        width: 0;
    }
    60% {
        width: 0;
    }
    70% {
        width: 140px;
    }
    72% {
        width: 100px;
    }
    100% {
        width: 100px;
    }
}

/*TODO after .bottom*/

@-webkit-keyframes bottomAfterAnimation {
    0% {
        height: 40px;
        opacity: 1;
    }
    15% {
        height: 0px;
        opacity: 0;
    }
    30% {
        height: 0px;
    }
    60% {
        height: 0px;
    }
    72% {
        height: 25px;
        opacity: 1;
    }
    80% {
        height: 30px;
        opacity: 1;

    }
    90% {
        height: 35px;
        opacity: 1;
    }
    100% {
        height: 40px;
        opacity: 1;
    }
}

/* landscape */
@media screen and (orientation:landscape) and (max-width: 812px) {
	/* landscape-specific styles */
	.flat-anim {
		display: none;
	}
}

/* potrait */
@media screen and (orientation: portrait) {
	/* potrait-specific styles */
	.flat-anim {
		animation: flatAnimation 2s linear;
	}
}
