*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
	width:100%; 
	height:100%;
	margin:0;	
}

body {
	background: #272526;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	font-family: "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	overflow:hidden;
}

.container {
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
}

.pagewrap {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
	width:100%	
}

a {
	color: rgba(0,0,0,0.25);
	font-weight: bold;
	text-shadow: 0 0 rgba(0,0,0,0);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

.header {
	position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
	opacity: 1;
    pointer-events: auto;
    z-index: 100;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

section {
	padding: 3em 1em 10em;
	text-align: center;
	clear: both;
}

section h2 {
	font-size: 2.6em;
	font-weight: 300;
	padding: 4em 0 0.4em;
}

section p {
	font-size: 1.5em;
	line-height: 1.5;
	margin-top: 0;
}

.column {
	width: 100%;
	padding: 0 2em;
	margin-top: 10%;
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}

/* Demo links */
.codrops-demos {
	text-align: right;
}

.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 0 0 5px;
	display: inline-block;
	border-bottom: 3px solid rgba(0,0,0,0.25);
}

.codrops-demos a:hover,
.codrops-demos a:focus,
.codrops-demos a.current-demo {
	color: #fff;
	border-color: #fff;
}

.pageload-link {
	padding: 20px 60px;
    color: #fff;
    background: rgba(0,0,0,0.25);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    white-space: nowrap;
    line-height: 80px;
}

.pageload-link:hover {
	color: #fff;
	background: rgba(0,0,0,0.2);
}

.center {
	text-align: center;	
}

/* Word + SVG styles */
.word {
	position: relative;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    justify-content: center;
    /*flex-wrap: wrap;*/
    margin: 0.25em 0 0.25em 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	z-index: 200;
}

.word-animate {
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.25em 0 0.25em 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);	
	height: auto;
}

.word--3 {
    font-size: 10vw;
    font-weight: 400;
	font-family: 'Questrial', sans-serif;
	text-align: center;
}

.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.slide__bg--3 {
	background: #272526;
	font-family: 'Questrial', sans-serif;
}

.shapes {
    position: fixed;
    top: 0;
    left: 0;
	z-index: -1;
}

.word span {
    position: relative;
    white-space: pre;
}

/* Murp Button Styles */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.content-style-text {
    padding: 60px;
    text-align: left;
}

.content-style-text #icon-close {
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.2);
}


#icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#icon-close {
    z-index: 100;
    display: block;
    overflow: hidden;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3;
    cursor: pointer;
}

#icon-close::before {
    content: "\e601";
}

.icon:before {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-style-text h2 {
    margin: 0 0 0.5em 0;
    font-weight: 300;
    font-size: 1.85em;
}

.content-style-text p {
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    font-size: 1.15em;
    line-height: 1.4;
}

.content-style-text label {
    padding: 10px;
    color: #f9e1c9;
    font-weight: bold;
}

@media screen and (max-width: 40em) {

	.column {
		width: 100%;
		float: none;
		padding: 2em;
		text-align: center;
		margin-top: 10%;
		-webkit-transition: all 1s ease-in-out;
  		-moz-transition: all 1s ease-in-out;
  		-o-transition: all 1s ease-in-out;
 		transition: all 1s ease-in-out;
	}

	.codrops-demos {
		text-align: center;
	}
	
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

/* landscape */
@media screen and (orientation:landscape) {
	/* landscape-specific styles */
	.column {
		width: 100%;
		float: none;
		padding: 0em;
		text-align: center;
		margin-top: 0%;
	}
}
